{#error 404 page personnalisée pour la version de prod #}
{% extends 'base.html.twig' %}

{% block body %}
    <h1>PAGE INTROUVABLE</h1>

    

    <p>
       Je n'ai pas pu trouver la page demandée.
    </p>
{% endblock %}
