{#error 404 page personnalisée pour la version de dev
pas trop d'intéret juste pour montrer qu'on sait le faire ;-) #}

{% extends 'base.html.twig' %}

{% block body %}
    <h1>PAGE INTROUVABLE</h1>

    

    <p>
       Je n'ai pas pu trouver la page demandée.
    </p>
    
    <blockquote class="imgur-embed-pub" lang="en" data-id="Ypy128F">
        <a href="//imgur.com/Ypy128F">Nervous Breakdown</a></blockquote>
    <script async src="//s.imgur.com/min/embed.js" charset="utf-8"></script>
{% endblock %}
