{# bloc avertissement / flashbags #}

{% if app.session.flashBag.has('success') %}
    <div class="alert alert-success">
        {% for msg in app.session.flashBag.get('success') %}
            {{msg}}
        {% endfor %}
    </div>
{%elseif app.session.flashBag.has('warning') %}
    <div class="alert alert-warning">
        {% for msg in app.session.flashBag.get('warning') %}
            {{msg}}
        {% endfor %}
    </div>
{% endif %}
