{# menu gauche #}

<ul class="list-group">
    <li class="list-group-item"><a href="#">Accueil</a></li>
    <li class="list-group-item">Contact</li>


</ul>

<ul class="list-group">
    <li class="list-group-item"><a href="{{url('categorie_list')}}">Categories</a></li>

</ul>
