
            <div class="lateral-header">
                <div class="lateral-statusbar">     </div>
                <div class="lateral-action"> <span class="lateral-photo"> </span>  <button id="lateral-button"></button>
                </div>
                <div class="lateral-title">    <p> Jeanphi
                        <br /><a href="">hello@jiphi.be</a></p>


                </div>
                <div class="lateral-description"> <p>Simple Event Agenda
                        <br />Symfony 3</p></div>


            </div>
            {% include '/partials/liste-gauche.html.twig' %}

