{% extends 'base.html.twig' %}
{% block  page_heading %} Categorie '{{categorie.nom}}'  Détail {% endblock %}
{% block body %}
    <div class="row">
        <div class="col-lg-offset-2 col-lg-8 col-xs-offset-1 col-xs-11">

            <p>Pour l'instant les categories n'ont que le nom mais on pourrait facilement ajouter une description</p>
        </div>
    </div>
{% endblock %}

