{% extends 'base.html.twig' %}
{% block  page_heading %} Categorie '{{categorie.nom}}'  Détail {% endblock %}
{% block body %}
    
               
                <p>Pour l'instant les categories n'ont que le nom mais on pourrait facilement ajouter une description</p>
           
{% endblock %}

