{% extends 'base.html.twig' %}

{% block body %}
    <p>
    <ul>
        {% for categorie in categories %}

            <li><a href='{{path('categorie_detail',{'id':categorie.id})}}'> {{categorie.nom}}</a></li>

        {% endfor %}
    </ul>
</p>


{% endblock %}

