{% extends 'base.html.twig' %}
{% block  page_heading %}  {{event.nom }}  :  Détail {% endblock %}
{% block body %}
    <div class="row">
        <div class="col-lg-offset-1 col-lg-1  col-xs-12">
            <img src="{{event.image}}" /> 
        </div>
        <div class="col-lg-offset-1 col-lg-8  col-xs-12">
            {{event.description}} 
        </div>
    </div>
    <div class="row" style="padding-top: 16px;">
        <div class="col-lg-offset-1 col-lg-6  col-xs-12">
            <p>Participants:
            <ul>
                {% for participant in event.participants %}
                    <li> {{participant.nom}}</li>
                    {% endfor %}
            </ul>

            </p>
        </div>


    </div>
{% endblock %}

