{% extends 'base.html.twig' %}

{% block body %}
    <p>
    <ul>
        {% for event in events %}
            <li><a href="{{path('event_detail',{'id':event.id})}}">{{event.nom}} </a>({{event.categorie}})</li>

        {% endfor %}

    </ul>
</p>
{% endblock %}
