{% extends 'base.html.twig' %}

{% block body %}
    <p>
    <ul>
                <ul>
                    {% for participant in participants %}
                        <li><a href='{{path('participant_detail',{'id':participant.id})}}'> {{participant.nom}} </a></li>
                        {% endfor %}
                </ul>
                </ul>
</p>
{% endblock %}